.THIS .managebadge{
    background-color: #D21245;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: -19px;
    margin-right: 250px;
  margin-top: 0;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 10px 32px;
  line-height: 1.428571429;
  cursor: pointer;
}